body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
    font-family: 'Roboto Serif', serif; 
}

body {
    background-color:#F5F3EF;  
}

h1 {
    font-size: 64px;
}
h2 {
    font-size: 40px;
}

.flexbox {
    display: flex;
}
.header-container {
justify-content: space-between;
align-items: center;

}

.item1 {
    padding-right: 40px;
} 

.header-item2{
    flex-direction: column;
    position: relative;
    right: 50px;
}
.img1 {
    max-width: 100%;
    max-height: 100%;
    width: 660px;
    height: 420px;
}

button {
border-radius: 20px;
padding: 10px;
border: none;
} 

.buttontype1{
    background-color: #000000;
    color: white;
    border-radius: 30px;
}
header, .section1 {
    margin: 80px;
}

.section2, .section1{
    margin-top: 80px;
}

.section1 {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.section1part1 {
    flex-direction: column;
    padding-top: 50px;
    padding-right: 40px;
    
}
.itemtexttop, .itemtextbottom {
    margin-top: 20px;
}

.itemtextbottom {
    width: 500px;
} 

.grid-item1 {
    font-size: 20px;
    background-color:#FEBD2F;
    grid-area: card1;
    border-radius: 25px;
    padding:30px;
    width: 300px;
    height: 264px;
    margin: 30px;
}
.grid-item2 {

    grid-area: card2;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding:30px;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 264px;
    margin: 30px;
}



.img-knife {
    width: 80px;
    position: relative;
    top:-70px;
    left: 220px;
    
}

.grid-item3 {
    grid-area: card3;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding:30px;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 264px;
    margin: 30px;
}
.grid-item4 {
    grid-area: card4;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding:30px;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 264px;
    margin: 30px;
}
.grid-item5 {
    grid-area: card5;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding:30px;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 264px;
    margin: 30px;
}


.grid-item6 {
    grid-area: card6;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding:30px;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 264px;
    margin: 30px;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

footer {
    background-color:#FEBD2F;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@media all and (max-width: 1000px) {
    .section1 {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .img1 {
        max-width: 100%;
        max-height: 100%;
        width: 50%;
        height: 50%;
        margin-top: 40px;
    }
}
